@import "../../style.scss";

.sideBar {
  @include themify($themes){
    display: none;

    @include tablet{
      flex: 2;
      position: sticky;
      top: 70px;
      height: calc(100vh - 70px);
      overflow: scroll;
      background-color: themed("bg");
      color: themed("textColor"); 
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;

      .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          font-size: 12px;
        }


        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;

          }

          span {
            font-size: 14px;
          }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 32px;

          }

          span {
            font-size: 14px;

          }
        }
      }

      hr {
        margin: 20px 0;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }
    }
  }
}






























// .sidebar {
//   flex: 3;
//   height: calc(100vh - 50px);
//   overflow-y: scroll;
//   position: sticky;
//   top: 50px;
// }

// ::-webkit-scrollbar {
//   width: 5px;
// }

// ::-webkit-scrollbar-track {
//   background-color: #f1f1f1;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: rgb(179, 179, 179);
// }

// .sidebarWrapper {
//   padding: 20px;
// }

// .sidebarList {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

// .sidebarListItem {
//   display: flex;
//   align-items: center;
//   margin-bottom: 20px;
// }

// .sidebarIcon {
//   margin-right: 15px;
// }

// .sidebarButton {
//   width: 150px;
//   border: none;
//   padding: 10px;
//   border-radius: 5px;
//   font-weight: 500;
// }

// .sidebarHr {
//   margin: 20px 0;
// }

// .sidebarFriendList {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }